.card-img-top {
    border-radius: 50%;
    width: 225px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

body{
    display: flex;
    margin: 50px;
    background-color: rgb(216, 221, 225);
}

#contacto-tarjeta {
    margin-right: 6%;
    background-color: rgb(34, 35, 64);
    color: white;
}

#contacto-tarjeta-1{
    background-color: rgb(34, 35, 64);
    color: white;
}

#contacto-tarjeta-2 {
    background-color: rgb(34, 35, 64);
    color: white;
}

#contacto-tarjeta-3 {
    background-color: rgb(34, 35, 64);
    color: white;
}
